*.pyc
**.pyc
downloads/*
goof/*
logfiles/*
**config.json
**/multiprocess.json
private.md
**/assed_config.json
**NOTES
**/news.json
**/redis.conf
config/social_streamer_topics.json
.vscode/

archives/*
tools/*
assed_env/*
**/*.rdb
**/*.out
venv/*
redis/*
workers/utils

**.bin
**.h5

web/*